name: Lint

on: [pull_request]

permissions:
  checks: write
  contents: write
  pull-requests: write

jobs:
  cpp-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake pkg-config \
            libx11-dev libxcursor-dev libxinerama-dev libxrandr-dev libxi-dev \
            libxext-dev libxfixes-dev libxrender-dev libxxf86vm-dev \
            libgl-dev libgl1-mesa-dev libglu1-mesa-dev libegl-dev \
            libwayland-dev libwayland-bin wayland-protocols \
            libxkbcommon-dev

      - name: Generate compilation database
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_PROJECT_VERSION=0.0.1

      - name: Run cpp-linter (Report)
        uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: 'file'  # Use .clang-format
          tidy-checks: '-*,bugprone-*,clang-analyzer-*,google-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-readability-identifier-length,-readability-uppercase-literal-suffix'
          files-changed-only: false
          thread-comments: true
          step-summary: true
          database: 'build'
          ignore: 'engine/thirdparty|build|cmake-build-*'

      - name: Apply clang-format
        run: |
          find engine/source -name "*.cpp" -o -name "*.h" | xargs clang-format -i -style=file

      - name: Commit fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        continue-on-error: true
        with:
          commit_message: "style: apply linting fixes"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



